dlib==19.18.0
imutils==0.5.3
onnx==1.7.0
onnxruntime==1.5.1
opencv-python==4.1.1.26
tensorflow==1.15.0
numpy==1.19.3
pafy~=0.5.5
playsound~=1.2.2
pyttsx3~=2.90
configparser~=5.0.2
pywebview~=3.4
pymongo~=3.11.4
pytube~=10.8.2