beautifulsoup4==4.9.0
certifi==2020.4.5.1
chardet==3.0.4
comtypes==1.1.7
decorator==4.4.2
idna==2.9
imageio==2.8.0
imageio-ffmpeg==0.4.1
moviepy==1.0.2
numpy==1.18.2
pafy==0.5.5
pandas==1.0.3
pathtools==0.1.2
Pillow==7.1.1
playsound==1.2.2
proglog==0.1.9
PyAudio==0.2.11
python-dateutil==2.8.1
python-vlc==3.0.7110
pyttsx3==2.87
pytube==9.6.0
pytz==2019.3
pywin32==227
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
SpeechRecognition==3.8.1
tqdm==4.45.0
urllib3==1.25.8
watchdog==0.10.2
wikipedia==1.4.0
youtube-dl==2020.3.24
